.entrance {
	box-shadow: 0 0 4px #999999;
	width: 300px;
	margin: 60px auto 0;
	background: white;
	border-radius: 5px;
	overflow: hidden;
}

.entrance-field {
	padding: 10px;
}

.entrance-input {
	box-sizing: border-box;
	width: 100%;
	font-size: 1em;
	padding: 8px 12px;
	border: 2px solid #efefef;
}

.entrance-loginButton {
	display: block;
	margin-top:10px;
	padding: 20px 40px;
	width: 100%;
	background: #982530;
	color: white;
	font-size: 1.3em;
	border: none;
}

.entrance-header {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.entrance-navigation {
	display: flex;
}

.entrance-navigation-item {
	text-align: center;
	flex: 1;
	border-bottom: 2px solid #DEE0E2;
	color: #5C666F;
	margin-bottom: 10px;
	padding: 10px;
	text-decoration: none;
}

.entrance-forgotPassword {
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 0.9em;
	color: #222;
	display: block;
	text-decoration: none;
}

.entrance-navigation-item--active {
	border-bottom: 2px solid #5C666F;
}

.entrance-text {
	padding: 0 20px;
	font-size: 0.9em;
}

.entrance-field-error {
	font-size: 0.8em;
	padding: 0 2px;
	color: #982530;
	margin-top: 10px;
}

.entrance-field--invalid {
	border-bottom: 2px solid #982530;
}