@import '../node_modules/jeet/styl';
@import '../node_modules/axis/axis/';
@import '../node_modules/rupture/rupture';
@import '../node_modules/sanitize.css/sanitize.css';
@import 'Components/*';

body {
  background: #efefef;
}

.foobar
  color: black;
  column(1/4)

  +mobile()
    column(1/2)

  +tablet()
    column(1/2)


.button
  button()